In [20]:
import pandas as pd

In [21]:
data= pd.read_excel('Book9.xlsx')
data=data[:408]
data

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate
0,23,4.0,male,yes,no,fast_food,yes,rainy
1,24,4.0,male,yes,no,homely_food,no,rainy
2,23,4.0,male,no,no,fast_food,yes,rainy
3,25,4.0,male,no,no,fast_food,no,rainy
4,22,2.0,female,no,no,homely_food,no,rainy
...,...,...,...,...,...,...,...,...
403,14,2.0,female,no,no,homely_food,yes,rainy
404,15,1.0,male,yes,no,homely_food,no,rainy
405,16,1.0,male,yes,yes,fast_food,yes,rainy
406,17,1.0,male,yes,no,fast_food,no,rainy
407,18,2.0,male,yes,yes,fast_food,no,rainy

In [22]:
data.isnull().sum()

age                   0
no_of_team_members    0
male/female           0
smoking_habit         0
jeep_survies          0
food_habit            0
exersize              0
climate               0
dtype: int64

In [23]:
data['male/female']=data['male/female'].map({'male':1,'female':.5})
data['smoking_habit']= data['smoking_habit'].map({'yes':0,'no':1})
data['jeep_survies']= data['jeep_survies'].map({'yes':2,'no':0})
data['food_habit']= data['food_habit'].map({'homely_food':1,'fast_food':0})
data['exersize'] = data['exersize'].map({'yes':1,'no':0})
data['climate'] = data['climate'].map({'rainy':0,'hot':1})

In [24]:
data.head(10)

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate
0,23,4.0,1.0,0,0,0,1,0
1,24,4.0,1.0,0,0,1,0,0
2,23,4.0,1.0,1,0,0,1,0
3,25,4.0,1.0,1,0,0,0,0
4,22,2.0,0.5,1,0,1,0,0
5,27,2.0,1.0,0,0,0,0,0
6,41,3.0,1.0,0,0,0,0,0
7,15,3.0,0.5,1,0,1,0,0
8,17,3.0,1.0,1,0,1,1,0
9,41,5.0,1.0,0,2,1,1,1

In [25]:
len(data.age)

408

tow methods for adding aditional columns by using conditions

In [26]:
# if there is a single conditions
#data.loc[data['age']<=16 ,'new_column']=0
#data

data.loc[data['no_of_team_members']>1,'solo/team']=1
data.loc[data['no_of_team_members']<=1,'solo/team']=0

In [27]:
#when we adding multiple conditions
import numpy as np

conditions = [
    (data['age']<16),
    (data['age']>=16) & (data['age']<20),
    (data['age']>=20) & (data['age']<30),
    (data['age']>=30) & (data['age']<35),
    (data['age']>=35) & (data['age']<40),
    (data['age']>=40) & (data['age']<45),
    (data['age']>=45) & (data['age']<50),
    (data['age']>=50) & (data['age']<55),
    (data['age']>=55) & (data['age']<60),
    (data['age']>=60)
]

values = [7,1,0,1,2,3,4,4,5,7]


data['condition']= np.select(conditions,values)
data.head(20)

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,solo/team,condition
0,23,4.0,1.0,0,0,0,1,0,1.0,0
1,24,4.0,1.0,0,0,1,0,0,1.0,0
2,23,4.0,1.0,1,0,0,1,0,1.0,0
3,25,4.0,1.0,1,0,0,0,0,1.0,0
4,22,2.0,0.5,1,0,1,0,0,1.0,0
5,27,2.0,1.0,0,0,0,0,0,1.0,0
6,41,3.0,1.0,0,0,0,0,0,1.0,3
7,15,3.0,0.5,1,0,1,0,0,1.0,7
8,17,3.0,1.0,1,0,1,1,0,1.0,1
9,41,5.0,1.0,0,2,1,1,1,1.0,3
10,38,5.0,1.0,1,2,0,0,1,1.0,2
11,45,5.0,1.0,1,2,0,0,1,1.0,4
12,35,5.0,0.5,1,2,1,0,1,1.0,2
13,38,5.0,0.5,1,2,0,0,1,1.0,2
14,29,1.0,1.0,1,0,1,1,1,0.0,0
15,51,2.0,1.0,0,0,1,0,1,1.0,4
16,52,2.0,1.0,0,0,0,0,1,1.0,4
17,28,2.0,1.0,1,0,0,1,1,1.0,0
18,22,3.0,1.0,1,0,0,1,1,1.0,0
19,22,3.0,0.5,1,0,1,1,1,1.0,0

In [28]:
data['no_of_team_members']=data['solo/team']
data.head(50)

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,solo/team,condition
0,23,1.0,1.0,0,0,0,1,0,1.0,0
1,24,1.0,1.0,0,0,1,0,0,1.0,0
2,23,1.0,1.0,1,0,0,1,0,1.0,0
3,25,1.0,1.0,1,0,0,0,0,1.0,0
4,22,1.0,0.5,1,0,1,0,0,1.0,0
5,27,1.0,1.0,0,0,0,0,0,1.0,0
6,41,1.0,1.0,0,0,0,0,0,1.0,3
7,15,1.0,0.5,1,0,1,0,0,1.0,7
8,17,1.0,1.0,1,0,1,1,0,1.0,1
9,41,1.0,1.0,0,2,1,1,1,1.0,3
10,38,1.0,1.0,1,2,0,0,1,1.0,2
11,45,1.0,1.0,1,2,0,0,1,1.0,4
12,35,1.0,0.5,1,2,1,0,1,1.0,2
13,38,1.0,0.5,1,2,0,0,1,1.0,2
14,29,0.0,1.0,1,0,1,1,1,0.0,0
15,51,1.0,1.0,0,0,1,0,1,1.0,4
16,52,1.0,1.0,0,0,0,0,1,1.0,4
17,28,1.0,1.0,1,0,0,1,1,1.0,0
18,22,1.0,1.0,1,0,0,1,1,1.0,0
19,22,1.0,0.5,1,0,1,1,1,1.0,0
20,22,1.0,0.5,1,0,1,1,1,1.0,0
21,33,1.0,1.0,1,0,1,0,1,1.0,1
22,35,1.0,1.0,0,0,1,0,1,1.0,2
23,45,1.0,1.0,1,0,1,1,1,1.0,4
24,19,1.0,1.0,1,0,1,1,0,1.0,1
25,20,1.0,1.0,1,0,1,1,0,1.0,0
26,22,1.0,1.0,1,0,0,0,0,1.0,0
27,21,1.0,1.0,1,0,1,1,0,1.0,0
28,45,1.0,1.0,1,2,1,0,0,1.0,4
29,35,1.0,0.5,1,2,1,1,0,1.0,2
30,17,1.0,0.5,1,2,1,0,0,1.0,1
31,18,1.0,1.0,1,2,1,1,0,1.0,1
32,62,1.0,1.0,1,2,1,0,0,1.0,7
33,26,0.0,1.0,0,0,1,0,0,0.0,0
34,26,1.0,1.0,1,0,1,1,0,1.0,0
35,25,1.0,0.5,1,0,1,0,0,1.0,0
36,30,1.0,1.0,1,0,0,0,0,1.0,1
37,32,1.0,1.0,1,0,1,1,0,1.0,1
38,26,1.0,1.0,1,0,1,1,1,1.0,0
39,22,1.0,1.0,1,0,1,0,1,1.0,0
40,24,1.0,1.0,1,0,1,1,1,1.0,0
41,22,1.0,1.0,0,0,1,1,1,1.0,0
42,22,1.0,1.0,0,0,1,1,1,1.0,0
43,26,1.0,1.0,0,0,1,1,1,1.0,0
44,27,1.0,0.5,0,0,1,1,1,1.0,0
45,26,1.0,0.5,0,0,1,1,1,1.0,0
46,26,1.0,0.5,0,0,1,0,1,1.0,0
47,25,1.0,0.5,1,0,1,0,1,1.0,0
48,27,1.0,1.0,1,0,1,0,1,1.0,0
49,22,1.0,1.0,0,0,1,1,1,1.0,0

In [29]:
data=data.drop('solo/team',axis=1)

In [30]:
data['result'] =data['no_of_team_members']+ data['male/female']+data['smoking_habit']+data['exersize']+data['climate']+data['jeep_survies']+data['food_habit']
data.head(50)

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,condition,result
0,23,1.0,1.0,0,0,0,1,0,0,3.0
1,24,1.0,1.0,0,0,1,0,0,0,3.0
2,23,1.0,1.0,1,0,0,1,0,0,4.0
3,25,1.0,1.0,1,0,0,0,0,0,3.0
4,22,1.0,0.5,1,0,1,0,0,0,3.5
5,27,1.0,1.0,0,0,0,0,0,0,2.0
6,41,1.0,1.0,0,0,0,0,0,3,2.0
7,15,1.0,0.5,1,0,1,0,0,7,3.5
8,17,1.0,1.0,1,0,1,1,0,1,5.0
9,41,1.0,1.0,0,2,1,1,1,3,7.0
10,38,1.0,1.0,1,2,0,0,1,2,6.0
11,45,1.0,1.0,1,2,0,0,1,4,6.0
12,35,1.0,0.5,1,2,1,0,1,2,6.5
13,38,1.0,0.5,1,2,0,0,1,2,5.5
14,29,0.0,1.0,1,0,1,1,1,0,5.0
15,51,1.0,1.0,0,0,1,0,1,4,4.0
16,52,1.0,1.0,0,0,0,0,1,4,3.0
17,28,1.0,1.0,1,0,0,1,1,0,5.0
18,22,1.0,1.0,1,0,0,1,1,0,5.0
19,22,1.0,0.5,1,0,1,1,1,0,5.5
20,22,1.0,0.5,1,0,1,1,1,0,5.5
21,33,1.0,1.0,1,0,1,0,1,1,5.0
22,35,1.0,1.0,0,0,1,0,1,2,4.0
23,45,1.0,1.0,1,0,1,1,1,4,6.0
24,19,1.0,1.0,1,0,1,1,0,1,5.0
25,20,1.0,1.0,1,0,1,1,0,0,5.0
26,22,1.0,1.0,1,0,0,0,0,0,3.0
27,21,1.0,1.0,1,0,1,1,0,0,5.0
28,45,1.0,1.0,1,2,1,0,0,4,6.0
29,35,1.0,0.5,1,2,1,1,0,2,6.5
30,17,1.0,0.5,1,2,1,0,0,1,5.5
31,18,1.0,1.0,1,2,1,1,0,1,7.0
32,62,1.0,1.0,1,2,1,0,0,7,6.0
33,26,0.0,1.0,0,0,1,0,0,0,2.0
34,26,1.0,1.0,1,0,1,1,0,0,5.0
35,25,1.0,0.5,1,0,1,0,0,0,3.5
36,30,1.0,1.0,1,0,0,0,0,1,3.0
37,32,1.0,1.0,1,0,1,1,0,1,5.0
38,26,1.0,1.0,1,0,1,1,1,0,6.0
39,22,1.0,1.0,1,0,1,0,1,0,5.0
40,24,1.0,1.0,1,0,1,1,1,0,6.0
41,22,1.0,1.0,0,0,1,1,1,0,5.0
42,22,1.0,1.0,0,0,1,1,1,0,5.0
43,26,1.0,1.0,0,0,1,1,1,0,5.0
44,27,1.0,0.5,0,0,1,1,1,0,4.5
45,26,1.0,0.5,0,0,1,1,1,0,4.5
46,26,1.0,0.5,0,0,1,0,1,0,3.5
47,25,1.0,0.5,1,0,1,0,1,0,4.5
48,27,1.0,1.0,1,0,1,0,1,0,5.0
49,22,1.0,1.0,0,0,1,1,1,0,5.0

In [31]:
data['target 1']=data['result']-data['condition']
data.head(50)

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,condition,result,target 1
0,23,1.0,1.0,0,0,0,1,0,0,3.0,3.0
1,24,1.0,1.0,0,0,1,0,0,0,3.0,3.0
2,23,1.0,1.0,1,0,0,1,0,0,4.0,4.0
3,25,1.0,1.0,1,0,0,0,0,0,3.0,3.0
4,22,1.0,0.5,1,0,1,0,0,0,3.5,3.5
5,27,1.0,1.0,0,0,0,0,0,0,2.0,2.0
6,41,1.0,1.0,0,0,0,0,0,3,2.0,-1.0
7,15,1.0,0.5,1,0,1,0,0,7,3.5,-3.5
8,17,1.0,1.0,1,0,1,1,0,1,5.0,4.0
9,41,1.0,1.0,0,2,1,1,1,3,7.0,4.0
10,38,1.0,1.0,1,2,0,0,1,2,6.0,4.0
11,45,1.0,1.0,1,2,0,0,1,4,6.0,2.0
12,35,1.0,0.5,1,2,1,0,1,2,6.5,4.5
13,38,1.0,0.5,1,2,0,0,1,2,5.5,3.5
14,29,0.0,1.0,1,0,1,1,1,0,5.0,5.0
15,51,1.0,1.0,0,0,1,0,1,4,4.0,0.0
16,52,1.0,1.0,0,0,0,0,1,4,3.0,-1.0
17,28,1.0,1.0,1,0,0,1,1,0,5.0,5.0
18,22,1.0,1.0,1,0,0,1,1,0,5.0,5.0
19,22,1.0,0.5,1,0,1,1,1,0,5.5,5.5
20,22,1.0,0.5,1,0,1,1,1,0,5.5,5.5
21,33,1.0,1.0,1,0,1,0,1,1,5.0,4.0
22,35,1.0,1.0,0,0,1,0,1,2,4.0,2.0
23,45,1.0,1.0,1,0,1,1,1,4,6.0,2.0
24,19,1.0,1.0,1,0,1,1,0,1,5.0,4.0
25,20,1.0,1.0,1,0,1,1,0,0,5.0,5.0
26,22,1.0,1.0,1,0,0,0,0,0,3.0,3.0
27,21,1.0,1.0,1,0,1,1,0,0,5.0,5.0
28,45,1.0,1.0,1,2,1,0,0,4,6.0,2.0
29,35,1.0,0.5,1,2,1,1,0,2,6.5,4.5
30,17,1.0,0.5,1,2,1,0,0,1,5.5,4.5
31,18,1.0,1.0,1,2,1,1,0,1,7.0,6.0
32,62,1.0,1.0,1,2,1,0,0,7,6.0,-1.0
33,26,0.0,1.0,0,0,1,0,0,0,2.0,2.0
34,26,1.0,1.0,1,0,1,1,0,0,5.0,5.0
35,25,1.0,0.5,1,0,1,0,0,0,3.5,3.5
36,30,1.0,1.0,1,0,0,0,0,1,3.0,2.0
37,32,1.0,1.0,1,0,1,1,0,1,5.0,4.0
38,26,1.0,1.0,1,0,1,1,1,0,6.0,6.0
39,22,1.0,1.0,1,0,1,0,1,0,5.0,5.0
40,24,1.0,1.0,1,0,1,1,1,0,6.0,6.0
41,22,1.0,1.0,0,0,1,1,1,0,5.0,5.0
42,22,1.0,1.0,0,0,1,1,1,0,5.0,5.0
43,26,1.0,1.0,0,0,1,1,1,0,5.0,5.0
44,27,1.0,0.5,0,0,1,1,1,0,4.5,4.5
45,26,1.0,0.5,0,0,1,1,1,0,4.5,4.5
46,26,1.0,0.5,0,0,1,0,1,0,3.5,3.5
47,25,1.0,0.5,1,0,1,0,1,0,4.5,4.5
48,27,1.0,1.0,1,0,1,0,1,0,5.0,5.0
49,22,1.0,1.0,0,0,1,1,1,0,5.0,5.0

In [33]:
with pd.ExcelWriter('book15.xlsx') as kk:
    data.to_excel(kk)

In [13]:
a=[]
b=[]
for i in data['target 1']:
    if i>=3:
        a.append(i)
    else:
        b.append(i)
print(a)
print(b)
print(len(a))
print(len(b))

[3.0, 3.0, 4.0, 3.0, 3.5, 4.0, 4.0, 4.0, 4.5, 3.5, 5.0, 5.0, 5.0, 5.5, 5.5, 4.0, 4.0, 5.0, 3.0, 5.0, 4.5, 4.5, 6.0, 5.0, 3.5, 4.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 4.5, 4.5, 3.5, 4.5, 5.0, 5.0, 5.0, 4.5, 4.5, 3.5, 4.5, 5.0, 3.5, 4.0, 6.0, 5.0, 6.0, 5.0, 5.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 6.0, 5.0, 8.0, 6.5, 6.0, 7.5, 6.0, 4.0, 3.0, 4.0, 3.0, 3.0, 3.0, 3.0, 3.5, 3.0, 5.0, 6.0, 5.5, 4.0, 5.5, 5.5, 5.0, 3.0, 5.0, 5.0, 5.0, 3.0, 5.0, 6.0, 6.5, 5.5, 7.0, 6.0, 5.0, 3.5, 3.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 4.0, 3.5, 4.5, 4.5, 5.0, 5.0, 3.5, 5.0, 4.0, 4.0, 4.0, 5.0, 4.0, 3.5, 3.0, 4.0, 8.0, 6.0, 8.0, 7.5, 6.0, 7.5, 4.0, 4.0, 4.0, 5.5, 3.5, 4.0, 7.0, 4.5, 4.0, 3.0, 4.0, 3.5, 3.0, 4.0, 7.0, 8.0, 6.0, 8.0, 7.5, 6.0, 7.5, 7.0, 4.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.5, 6.0, 5.0, 3.5, 4.0, 3.0, 3.0, 3.0, 7.5, 5.0, 5.0, 3.0, 5.0, 5.0, 3.0, 4.0, 3.0, 4.0, 5.0, 3.0, 3.0, 5.0, 6.0, 5.0, 6.0, 5.0, 5.0, 5.0, 4.5, 3.0, 4.0, 4.5, 4.0, 3.0, 4.5, 6.5, 7.0, 6.0, 3.0, 3.0]
[2.0, -1.0, -3.5, 2.0, 0.0, -1.0, 2.0, 2.0, 2.0, -1.0, 2.0, 2.0, 2.0, -1.0, 0.5, -1.0, -3.0, -2.0, 2.0, -1.0, -1.5, 0.5, 1.0, 0.0, -2.5, 2.0, 0.0, 1.0, 2.5, -1.0, -3.0, 2.0, 2.0, 2.5, 0.0, -0.5, 1.0, 2.0, 2.0, -2.0, 2.0, -1.5, 0.0, -0.5, 0.5, 1.5, 2.5, 2.0, 2.0, -1.0, -3.0, -1.0, 1.0, 2.0, 0.0, -3.0, 2.0, 2.0, 1.0, 1.0, 2.0, 0.0, -2.0, -3.0, -2.5, -3.0, -1.0, 1.0, 2.0, 2.0, 1.5, 2.5, -1.0, 1.0, -2.0, 1.0, 2.0, 0.5, 1.0, -1.0, 2.0, 1.5, 0.5, -2.0, -1.0, -4.0, -1.0, 0.0, -0.5, 0.0, -1.0, -0.5, -1.0, 1.0, -3.0, -2.0, -1.0, 0.0, 2.0, 1.0, 2.5, 1.0, 2.5, 2.0, -1.0, 0.0, 0.0, -1.0, 0.0, -2.0, 1.0, 0.5, 1.0, 0.0, -2.5, -5.0, -3.0, -4.0, -1.0, -2.5, -0.5, -1.5, -2.0, -3.0, -2.0, 0.0, -1.5, -1.5, -2.0, -3.0, -1.0, 0.0, 0.0, -2.0, -1.0, -0.5, -1.5, 0.0, 1.0, -3.0, -3.5, -4.0, -2.0, -1.0, -2.0, 2.0, 1.0, 2.5, 2.5, 2.0, -2.0, -1.5, 0.5, 1.0, 0.0, -2.5, -5.0, -3.0, -6.0, -3.0, -2.0, -2.5, -0.5, -1.5, -2.0, -3.0, -4.0, -2.0, -2.0, -1.5, -1.5, -2.0, -3.0, 2.0, 1.0, 1.0, 2.5, 1.5, 2.0, -2.0, 1.0, -0.5, 1.0, 2.5, 0.5, -3.0, -1.0, -4.0, -3.0, -2.0, -2.5, 0.5, 1.0, 0.0, -2.5, -5.0, -3.0, -6.0, -3.0, -2.0, -2.0, -2.5, -2.0, -4.0, -1.0, -2.5, -5.0, -3.0, -6.0, -3.0, -2.0, -2.5, 0.5, 1.0, 0.0, -2.5, -5.0, 0.0]
190
218

In [14]:
data.loc[data['target 1']>=3,'status']='yes'
data.loc[data['target 1']<3,'status']='no'
data

,age,no_of_team_members,male/female,smoking_habit,jeep_survies,food_habit,exersize,climate,condition,result,target 1,status
0,23,1.0,1.0,0,0,0,1,0,0,3.0,3.0,yes
1,24,1.0,1.0,0,0,1,0,0,0,3.0,3.0,yes
2,23,1.0,1.0,1,0,0,1,0,0,4.0,4.0,yes
3,25,1.0,1.0,1,0,0,0,0,0,3.0,3.0,yes
4,22,1.0,0.5,1,0,1,0,0,0,3.5,3.5,yes
...,...,...,...,...,...,...,...,...,...,...,...,...
403,14,1.0,0.5,1,0,1,1,0,7,4.5,-2.5,no
404,15,0.0,1.0,0,0,1,0,0,7,2.0,-5.0,no
405,16,0.0,1.0,0,2,0,1,0,1,4.0,3.0,yes
406,17,0.0,1.0,0,0,0,0,0,1,1.0,0.0,no
407,18,1.0,1.0,0,2,0,0,0,1,4.0,3.0,yes

In [15]:
data=data.drop(columns=['condition','result','target 1'])

In [16]:
data.rename(columns={'no_of_team_members':'solo/team'},inplace=True)
data.rename(columns={'male/female':'M/F'},inplace=True)
data.rename(columns={'smoking_habit':'Are you smoker'},inplace=True)


data.head(50)

,age,solo/team,M/F,Are you smoker,jeep_survies,food_habit,exersize,climate,status
0,23,1.0,1.0,0,0,0,1,0,yes
1,24,1.0,1.0,0,0,1,0,0,yes
2,23,1.0,1.0,1,0,0,1,0,yes
3,25,1.0,1.0,1,0,0,0,0,yes
4,22,1.0,0.5,1,0,1,0,0,yes
5,27,1.0,1.0,0,0,0,0,0,no
6,41,1.0,1.0,0,0,0,0,0,no
7,15,1.0,0.5,1,0,1,0,0,no
8,17,1.0,1.0,1,0,1,1,0,yes
9,41,1.0,1.0,0,2,1,1,1,yes
10,38,1.0,1.0,1,2,0,0,1,yes
11,45,1.0,1.0,1,2,0,0,1,no
12,35,1.0,0.5,1,2,1,0,1,yes
13,38,1.0,0.5,1,2,0,0,1,yes
14,29,0.0,1.0,1,0,1,1,1,yes
15,51,1.0,1.0,0,0,1,0,1,no
16,52,1.0,1.0,0,0,0,0,1,no
17,28,1.0,1.0,1,0,0,1,1,yes
18,22,1.0,1.0,1,0,0,1,1,yes
19,22,1.0,0.5,1,0,1,1,1,yes
20,22,1.0,0.5,1,0,1,1,1,yes
21,33,1.0,1.0,1,0,1,0,1,yes
22,35,1.0,1.0,0,0,1,0,1,no
23,45,1.0,1.0,1,0,1,1,1,no
24,19,1.0,1.0,1,0,1,1,0,yes
25,20,1.0,1.0,1,0,1,1,0,yes
26,22,1.0,1.0,1,0,0,0,0,yes
27,21,1.0,1.0,1,0,1,1,0,yes
28,45,1.0,1.0,1,2,1,0,0,no
29,35,1.0,0.5,1,2,1,1,0,yes
30,17,1.0,0.5,1,2,1,0,0,yes
31,18,1.0,1.0,1,2,1,1,0,yes
32,62,1.0,1.0,1,2,1,0,0,no
33,26,0.0,1.0,0,0,1,0,0,no
34,26,1.0,1.0,1,0,1,1,0,yes
35,25,1.0,0.5,1,0,1,0,0,yes
36,30,1.0,1.0,1,0,0,0,0,no
37,32,1.0,1.0,1,0,1,1,0,yes
38,26,1.0,1.0,1,0,1,1,1,yes
39,22,1.0,1.0,1,0,1,0,1,yes
40,24,1.0,1.0,1,0,1,1,1,yes
41,22,1.0,1.0,0,0,1,1,1,yes
42,22,1.0,1.0,0,0,1,1,1,yes
43,26,1.0,1.0,0,0,1,1,1,yes
44,27,1.0,0.5,0,0,1,1,1,yes
45,26,1.0,0.5,0,0,1,1,1,yes
46,26,1.0,0.5,0,0,1,0,1,yes
47,25,1.0,0.5,1,0,1,0,1,yes
48,27,1.0,1.0,1,0,1,0,1,yes
49,22,1.0,1.0,0,0,1,1,1,yes

In [17]:
#with pd.ExcelWriter('Book13.xlsx') as ab:
  #  data.to_excel(ab)

In [18]:
data['solo/team']=data['solo/team'].map({1:'team',0:'solo'})
data['M/F']=data['M/F'].map({1:'Male',0.5:'Female'})
data['Are you smoker']=data['Are you smoker'].map({1:'No',0:'Yes'})
data['jeep_survies']=data['jeep_survies'].map({2:'Yes',0:'No'})
data['food_habit']=data['food_habit'].map({1:'Homely food',0:'Fast food'})
data['exersize']=data['exersize'].map({1:'Yes',0:'No'})
data['climate']=data['climate'].map({1:'Good',0:'Not bad'})
data

,age,solo/team,M/F,Are you smoker,jeep_survies,food_habit,exersize,climate,status
0,23,team,Male,Yes,No,Fast food,Yes,Not bad,yes
1,24,team,Male,Yes,No,Homely food,No,Not bad,yes
2,23,team,Male,No,No,Fast food,Yes,Not bad,yes
3,25,team,Male,No,No,Fast food,No,Not bad,yes
4,22,team,Female,No,No,Homely food,No,Not bad,yes
...,...,...,...,...,...,...,...,...,...
403,14,team,Female,No,No,Homely food,Yes,Not bad,no
404,15,solo,Male,Yes,No,Homely food,No,Not bad,no
405,16,solo,Male,Yes,Yes,Fast food,Yes,Not bad,yes
406,17,solo,Male,Yes,No,Fast food,No,Not bad,no
407,18,team,Male,Yes,Yes,Fast food,No,Not bad,yes

In [19]:
data=data.drop('Unnamed: 0.1',axis=1)
data

KeyError: "['Unnamed: 0.1'] not found in axis"

In [ ]:
with pd.ExcelWriter('Book14.xlsx') as b:
    data.to_excel(b)

In [ ]:
data=pd.read_excel('Book13.xlsx')
data

In [ ]:
data=data.drop('Unnamed: 0',axis=1)
data.head()

In [23]:
x=data.drop('status',axis=1)

y=data['status']

In [24]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

In [25]:
scaler= MinMaxScaler()

In [27]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=55)
print(len(X_train))
len(y_train)

326

326

In [409]:
scaled_X_train= scaler.fit_transform(X_train)
scaled_X_test = scaler.transform(X_test)

In [410]:
model_params={'svm':{'model':SVC(gamma='auto'),'params':{'C':[1,10,20],'kernel':['rbf','linear']}},
             'RandomForestClassifier':{'model':RandomForestClassifier(),'params':{'n_estimators':[1,5,10]}},
             'LogisticRegression':{'model':LogisticRegression(),'params':{'C':[1,5,10]}}}

In [411]:
list_score=[]
list_model=['svm','RandomForestClassifier','LogisticRegression']
for model_name in list_model:
    mp=model_params[model_name]
    gds=GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=True)
    gds.fit(scaled_X_train,y_train)
    list_score.append({'model_name':model_name,'score':gds.best_score_,'best_params':gds.best_params_})

In [412]:
pd.DataFrame(list_score)

               model_name     score                 best_params
0                     svm  0.760932  {'C': 20, 'kernel': 'rbf'}
1  RandomForestClassifier  0.901958        {'n_estimators': 10}
2      LogisticRegression  0.717949                   {'C': 10}

In [413]:
model=RandomForestClassifier(n_estimators=10,)

In [414]:
model.fit(scaled_X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [415]:
model.score(scaled_X_test,y_test )

0.9146341463414634

In [418]:
model.predict([[24,1,1.0,0,0,1,0,0]])

array(['no'], dtype=object)

In [417]:
model.predict([[16,0,1.0,0,2,0,1,0]])

array(['no'], dtype=object)

In [419]:
model.predict([[25,1,1.0,1,0,0,0,0]])

array(['no'], dtype=object)

In [432]:
pred=model.predict(scaled_X_test )
pred

array(['no', 'no', 'no', 'no', 'yes', 'yes', 'yes', 'no', 'no', 'no',
       'no', 'no', 'yes', 'yes', 'no', 'yes', 'yes', 'no', 'yes', 'no',
       'no', 'yes', 'yes', 'yes', 'no', 'no', 'no', 'no', 'no', 'yes',
       'no', 'yes', 'no', 'no', 'no', 'yes', 'yes', 'no', 'no', 'no',
       'no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes', 'yes',
       'no', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no', 'yes',
       'yes', 'no', 'no', 'yes', 'no', 'yes', 'yes', 'yes', 'no', 'yes',
       'yes', 'yes', 'no', 'yes', 'no', 'yes', 'no', 'yes', 'yes', 'yes',
       'no', 'yes'], dtype=object)

In [433]:
df= pd.DataFrame(pred,y_test)
df.head()

          0
status
no       no
no       no
no       no
yes      no
yes     yes

In [430]:
model.score(scaled_X_test,y_test)

0.9146341463414634

In [434]:
import pickle

In [450]:
with open('trekking_model','wb') as f:
    pickle.dump(model,f)

In [451]:
with open('trekking_model','rb') as f:
    model1=pickle.load(f)

In [453]:
scaled_X_test

array([[0.01818182, 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.81818182, 1.        , 1.        , 1.        , 0.        ,
        0.        , 1.        , 0.        ],
       [0.81818182, 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.        , 1.        ],
       [0.6       , 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.21818182, 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.30909091, 1.        , 0.        , 1.        , 1.        ,
        1.        , 0.        , 0.        ],
       [0.81818182, 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.56363636, 1.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.12727273, 1.        , 0.        , 1.        , 1.        ,
        1.        , 0.        , 0.        ],
       [0.81818182, 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.        , 0.        ],
       [0.09090909, 1.        , 0.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.07272727, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.18181818, 1.        , 1.        , 0.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.29090909, 1.        , 1.        , 1.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.16363636, 1.        , 0.        , 1.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.21818182, 1.        , 0.        , 1.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.30909091, 1.        , 1.        , 1.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.09090909, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.18181818, 1.        , 1.        , 1.        , 1.        ,
        0.        , 0.        , 1.        ],
       [0.09090909, 1.        , 0.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.03636364, 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.21818182, 1.        , 0.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.25454545, 1.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.29090909, 1.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.58181818, 1.        , 1.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.01818182, 1.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 1.        ],
       [1.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.21818182, 1.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.27272727, 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.29090909, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.12727273, 1.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 1.        ],
       [0.49090909, 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.03636364, 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 0.        ],
       [0.96363636, 1.        , 0.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.09090909, 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.50909091, 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 0.        ],
       [0.12727273, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.        , 1.        , 1.        , 0.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.36363636, 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.81818182, 1.        , 0.        , 1.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.74545455, 1.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.81818182, 1.        , 1.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.09090909, 0.        , 1.        , 0.        , 1.        ,
        0.        , 1.        , 0.        ],
       [0.50909091, 1.        , 1.        , 0.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.52727273, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.21818182, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.05454545, 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 1.        ],
       [0.52727273, 1.        , 1.        , 0.        , 1.        ,
        1.        , 0.        , 0.        ],
       [0.72727273, 1.        , 0.        , 1.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.18181818, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.12727273, 1.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.72727273, 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.4       , 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.81818182, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.96363636, 1.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.81818182, 1.        , 1.        , 0.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.25454545, 1.        , 0.        , 1.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.49090909, 1.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 1.        ],
       [0.96363636, 1.        , 1.        , 1.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.27272727, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.14545455, 1.        , 1.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.21818182, 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.05454545, 1.        , 0.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.30909091, 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.        , 1.        ],
       [0.10909091, 0.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.27272727, 1.        , 1.        , 1.        , 0.        ,
        1.        , 0.        , 1.        ],
       [0.27272727, 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.21818182, 1.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.56363636, 1.        , 1.        , 1.        , 1.        ,
        1.        , 0.        , 1.        ],
       [0.12727273, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.45454545, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.29090909, 1.        , 0.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.63636364, 1.        , 0.        , 1.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.27272727, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.29090909, 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.2       , 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 0.        ],
       [0.09090909, 1.        , 1.        , 1.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.21818182, 1.        , 0.        , 1.        , 0.        ,
        1.        , 0.        , 0.        ],
       [0.25454545, 1.        , 1.        , 1.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.21818182, 1.        , 1.        , 0.        , 0.        ,
        1.        , 1.        , 1.        ],
       [0.96363636, 1.        , 0.        , 1.        , 1.        ,
        1.        , 1.        , 1.        ],
       [0.41818182, 1.        , 1.        , 0.        , 0.        ,
        1.        , 1.        , 0.        ]])